@charset "UTF-8";
/* 共通のスタイル */
span {
  color: #C12A2A;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-section:nth-child(odd) {
  flex-direction: row-reverse;
}

.profile-section, .mind-section, .vision-section {
  margin-bottom: 80px;
}

.inner {
  width: 1000px;
  max-width: 100%;
  margin: 80px auto;
}

.img {
  width: 380px;
  height: 340px;
  object-fit: cover;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 3vw;
  margin-bottom: 60px;
}


/* フォントのスタイル */
body {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.8;
  text-align: left;
}

h1, .header li, .title, .shadow, .my-prof dt, .skill-ttl, .skill-section-ttl, .skill-ttl, .contact-ttl {
  font-family: obvia, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mv-catch {
  font-family: obvia, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.mind-catch span {
  font-family: vdl-gigag, sans-serif;
  font-weight: 500;
  font-style: normal;
} 


/* ヘッダーのスタイル */
.header {
  margin-top: 50px;
}

.header-ttl {
  font-size: 25px;
}

.header-top {
  display: flex;
  margin-bottom: 30px;
}

.icon-area {
  margin-left: auto;
  padding-top: 10px;
}

.icon {
  width: 25px;
  height: 25px;
}

.facebook-icon {
  margin-right: 30px;
}

.header-nav {
  margin-bottom: 20px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

/* メインビジュアルのデザイン */
.mv-section {
  background: url(../img/mv.jpg) center center no-repeat;
  background-size: contain;
  height: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.mv-catch {
  margin-left: 100px;
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 5vw;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.8);
}

.title-copy-top {
  padding: 20px 0 0 30px;
}

.title-copy-bottom {
  padding: 0 30px 20px 80px;
}

/* profileのデザイン */

.prof-img {
  margin: 0 auto;
}

.shadow {
  opacity: 0.2;
  font-size: 4vw;
}

.profile-content {
  position: relative;
  width: 50%;
}

.profile-shadow {
  position: absolute;
  top: 10px;
  left: 25px;
}

.my-prof > div {
  display: flex;
}

.my-prof dt {
  width: 25%;
}

.my-prof dd {
  padding-left: 5px;
}

.background-text {
  font-size: 13px;
  margin-left: 50px;
}
/* Mindのデザイン */
.mind-section {
  justify-content: flex-end;
}

.mind-content {
  position: relative;
}

.mind-img {
  margin:0 auto;
}

.mind-shadow {
  position: absolute;
  top: 10px;
  left: 25px;
}

.mind-catch{
  font-size: 20px;
  margin-bottom: 40px;
}

/* Visionのデザイン */
.vision-section {
  position: relative;
}

.vision-shadow {
  position: absolute;
  top: 10px;
  left: 25px;
}

.vision-content {
  width: 50%;
}

.vision-catch {
  font-size: 20px;
  margin-bottom: 40px;
}

.vision-img {
  margin: 0 auto;
}

/* Skillのデザイン */
.skill-wrap {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

.skill {
  width: 30%;
}

.skill-section-ttl {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.skill-section-ttl:before, .skill-section-ttl:after {
  content: "";
	flex-grow: 1;
	height: 2px;
	background: #C12A2A;
	display: block;
}

.skill-section-ttl:before {
  margin-right: 15px;
}

.skill-section-ttl:after {
  margin-left: 15px;
}

.skill-ttl {
  text-align: center;
  font-size: 23px;
}

.skill-sub {
  text-align: center;
  font-size: 10px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.3);
}

.skill-icon {
  display: block;
  width: auto;
  margin: auto;
  margin-bottom: 30px;
  object-fit: cover;
}

.skill-text {
  width: 250px;
  margin: 0 auto;
}
/* Contactのデザイン */
.contact-ttl {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.contact-ttl:before, .contact-ttl:after {
  content: "";
	flex-grow: 1;
	height: 2px;
	background: #C12A2A;
	display: block;
}

.contact-ttl:before {
  margin-right: 15px;
}

.contact-ttl:after {
  margin-left: 15px;
}

.contact-text {
  margin: 0 auto;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}
/* --------------コンタクトフォーム入力欄のデザイン */
.conpany-txt {
  position: relative;
	width: 100%;
	margin: 40px 3%;
}

.conpany-txt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.conpany-txt input[type='text']:focus {
	outline: none;
}

.conpany-txt input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.conpany-txt input[type='email']:focus {
	outline: none;
}

.conpany-txt input[type='tel'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.conpany-txt input[type='tel']:focus {
	outline: none;
}

.conpany-txt textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
}
.conpany-txt textarea:focus {
	outline: none;
}

.ef {
	padding: 7px 14px;
	transition: 0.4s;
	border: 1px solid #1b2538;
	background: transparent;
}

.ef ~ .focus-line:before,
.ef ~ .focus-line:after {
	position: absolute;
	top: -1px;
	left: 50%;
	width: 0;
	height: 2px;
	content: '';
	transition: 0.4s;
	background-color: #C12A2A;
}

.ef ~ .focus-line:after {
	top: auto;
	bottom: 0;
}

.ef ~ .focus-line i:before,
.ef ~ .focus-line i:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 0;
	content: '';
	transition: 0.6s;
	background-color:  #C12A2A;
}
.ef ~ .focus-line i:after {
	right: 0;
	left: auto;
}
.ef:focus ~ .focus-line:before,
.ef:focus ~ .focus-line:after,
.conpany-txt.ef ~ .focus-line:before,
.conpany-txt.ef ~ .focus-line:after {
	left: 0;
	width: 100%;
	transition: 0.4s;
}

.ef:focus ~ .focus-line i:before,
.ef:focus ~ .focus-line i:after,
.conpany-txt.ef ~ .focus-line i:before,
.conpany-txt.ef ~ .focus-line i:after {
	top: 0;
	height: 100%;
	transition: 0.6s;
}

.ef ~ label {
	position: absolute;
	z-index: -1;
	/* top: 10px; */
	top: 7px;
	/* left: 14px; */
	left: 7px;
	width: 70%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label,
.conpany-txt.ef ~ label {
	font-size: 12px;
	/* top: -18px; */
	top: -18px;
	left: 0;
	transition: 0.2s;
	color:  #C12A2A;
}
/* フッターのデザイン */
.footer {
  display: flex;
  margin: 0 auto 20px;
}

.footer-nav-list {
  display: flex;
  justify-content: flex-start;
}

.copyright {
  margin-left: auto;
}
